[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pylint = "*"
python-githooks = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python ./src/main.py"
# Linting
lint = "pylint ./src ./test"
# Testing
test = "pytest ./test"
# Git hooks
# Necessary for initializing git hooks. Needs to be run again if .githooks.ini is modified to apply the changes
githooks = "githooks"
